$corte1: 450px;
$corte2: 760px;
$corte3: 1000px;
$corte4: 1333px;

:root {
  // Fuentes tipográficas hemochas
  --fuenteParrafo: 'Bevellier', 'Helvetica', 'Roboto', 'Arial', 'Tahoma', 'Verdana', sans-serif;
  --fuenteTitulo: 'Sentient', serif;

  // Paleta
  --azul: #03a9f4;
  --azulClaro: #86d8fe;
  --turquesa: #73eedc;
  --amarilloClaro: #fef6bc;
  --amarillo: #ffeb3b;
  --naranjaClaro: #f5b55b;
  --naranja: #fffaf0bf;
  --naranja2: #f7941d;
  // --naranja2: #f7941d;
  --naranja3: #f7941d33;
  --terracota: #c22f20;
  --blanco: #ffffff;
  --grisClaro: #fafafa;
  --grisOscuro: #c0c0ad;
  --verdeLokillo: #3dff40;
  --negro: #000100;

  // Fondos
  --minAltoSeccion: 90vh;
}
