@import './constantes';

html {
  box-sizing: border-box;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 249, 169, 0.686), rgba(187, 228, 207, 0.68) 100%);
  font-family: var(--fuenteParrafo);
  font-feature-settings:
    'liga' 1,
    'calt' 1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--amarillo);
  color: #130808;
}

main {
  max-width: 96vw;
  margin: 0 auto;
}

.seccionLado {
  width: 35%;
  height: var(--minAltoSeccion);
  border: black solid 2px;
  padding: 0 2em 0 2em;
  overflow: auto;

  .mapboxgl-popup-tip {
  }
  .mapboxgl-popup-content {
    padding: 0.6em 1.2em 0.6em 0.8em;

    #leyenda {
      font-family: var(--fuenteParrafo);
      margin: 0;
      font-size: 1.1em;
      .nombreMunicipio {
        font-weight: 600;
        font-size: 1.1em;
        margin: 0;
      }
      .yanaina {
        font-weight: 400;
        font-size: 1.1em;
        margin: 0;
      }
    }
  }
}

#columnaCentral {
  display: flex;
  flex-direction: column;
  width: 24vw;
  overflow: auto;
}

.seccionCentro {
  border: 2px solid black;
  margin-bottom: 1em;
  padding: 0 1.75em;
}

#contador {
  border: solid 2px;
  padding: 0.5em;
  width: fit-content;
  margin: 1em auto;
}

#contenedorIntroduccion {
  height: 100vh;
  background-color: var(--naranja);
  padding-top: 35vh;

  #tituloSubtitulo {
    display: flex;
    flex-direction: column;
    color: var(--blanco);

    h1 {
      font-family: var(--fuenteTitulo);
      font-size: 4.5em;
      text-align: center;
      margin: 0vh 20% 0 20%;
    }
    #subtitulo {
      display: flex;
      flex-direction: column;
      margin: 3vh 10%;

      text-align: center;
      h3 {
        font-weight: 300;
        font-size: 2em;
      }
      h4 {
        margin-top: 0;
        font-weight: 300;
      }
    }
  }
}

h2 {
  margin-top: 1em;
}
