html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #30cac073;
  color: #130808;
}

.municipio {
  font-weight: bold;
}

.departamento {
  font-style: italic;
}

.valor {
  font-size: 1.2em;
  font-weight: bold;
}

.lugar {
  &.encuestado {
    background-color: rgb(147, 185, 143);
  }
}

#contenedorMapa {
  position: absolute;
  width: 100%;
  height: 100%;
canvas {
  display: block;
  width: 580px;
  height: 580px;
  margin: auto;
  border: 2px solid #ccc;
}

#button-row,
#selector-row {
  text-align: center;
  margin-top: 20px;
}

.radio-box {
  display: inline-block;
  margin-left: 5px;
}

button {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

#new {
  background-color: #cfc;
}
