@import './constantes';

html {
  box-sizing: border-box;
  height: 100%;
  font-family: var(--fuenteParrafo);
  font-feature-settings:
    'liga' 1,
    'calt' 1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #30cac073;
  color: #130808;
}

.municipio {
  font-weight: bold;
}

.departamento {
  font-style: italic;
}

.valor {
  font-size: 1.2em;
  font-weight: bold;
}

.lugar {
  &.encuestado {
    background-color: rgb(147, 185, 143);
  }
}

#contenedorMapa {
  width: 80vw;
  height: 100vh;
  margin: auto;

  canvas {
    display: block;
    width: 580px;
    height: 580px;
    margin: auto;
    border: 2px solid var(--azul);
    background-color: var(--naranja);
  }
}

#contenedorSimulacion {
  padding: 3em;
  background-color: var(--naranja);

  #simulacion {
    transform: translateX(25vw);
    background-color: var(--amarilloClaro);
    width: 40vw;
  }
}

#button-row,
#selector-row {
  text-align: center;
  margin-top: 20px;
}

.radio-box {
  display: inline-block;
  margin-left: 5px;
}

button {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}


#contador {
  border: solid 2px;
  padding: 0.5em;
  width: fit-content;
  margin: 1em auto;
}

#contenedorIntroduccion {
  height: 100vh;
  background-color: var(--naranja);
  padding-top: 35vh;

  #tituloSubtitulo {
    display: flex;
    flex-direction: column;
    color: var(--blanco);

    h1 {
      font-family: var(--fuenteTitulo);
      font-size: 4.5em;
      text-align: center;
      margin: 0vh 20% 0 20%;
    }
    #subtitulo {
      display: flex;
      flex-direction: column;
      margin: 3vh 10%;

      text-align: center;
      h3 {
        font-weight: 300;
        font-size: 2em;
      }
      h4 {
        margin-top: 0;
        font-weight: 300;
      }
    }
  }

}
