html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #30cac073;
  color: #130808;
}

.municipio {
  font-weight: bold;
}

.departamento {
  font-style: italic;
}

.valor {
  font-size: 1.2em;
  font-weight: bold;
}

.lugar {
  &.encuestado {
    background-color: rgb(147, 185, 143);
  }
}

#contenedorMapa {
  width: 99vw;
  height: 100vh;

  canvas {
    display: block;
    width: 580px;
    height: 580px;
    margin: auto;
    border: 2px solid #747474;
    background-color: #fff8f8;
  }
}

#contenedorSimulacion {
  padding: 3em;

  #simulacion {
    transform: translateX(25vw);
    background-color: rgb(254, 228, 255);
    width: 40vw;
  }
}

#button-row,
#selector-row {
  text-align: center;
  margin-top: 20px;
}

.radio-box {
  display: inline-block;
  margin-left: 5px;
}

button {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

#contador {
  border: solid 2px;
  padding: 0.5em;
  width: fit-content;
  margin: 1em auto;
}
