$minCelular: 576px;
$minTablet: 768px;
$minPantalla: 992px;
$minPantallaGrande: 1333px;
$minPantallaGigante: 1600px;

:root {
  // Fuentes tipográficas hemochas
  --fuenteParrafo: 'Bevellier', 'Helvetica', 'Roboto', 'Arial', 'Tahoma', 'Verdana', sans-serif;
  --fuenteTitulo: 'Sentient', serif;

  // Paleta
  --azul: #03a9f4;
  --azulClaro: #86d8fe;
  --turquesa: #73eedc;
  --azul: #03a9f4;
  --amarilloClaro: #fef6bc;
  --amarillo: #ffeb3b;
  --naranjaClaro: #f5b55b;
  --naranja: #fffaf0bf;
  --naranja2: #f7941d;
  --rosado: #ffc09f;
  --cosita: #e6adec;
  --lavanda: #f2befc;
  --rosaAmaranta: #ff92c2;
  --violeta: #cb48b7;
  --naranja3: #f7941d33;
  --terracota: #c22f20;
  --blanco: #ffffff;
  --grisClaro: #fafafa;
  --grisOscuro: #c0c0ad;
  --verdeLokillo: #3dff40;
  --negro: #000100;
  --colorPositivo: rgb(82, 230, 102);
  --colorNegativo: rgb(247, 98, 98);

  // Fondos
  --minAltoSeccion: 90vh;
}
